/*REMOVE DEFAULT MARGIN AND PADDING*/
* {
	margin: 0;
	padding: 0;
}
/*FREE DELIVERY DIV*/
.top_header{
	text-align: center;
	letter-spacing: 1px;
	color: #fff;
	padding: 1%;
	font-size: 15px;
	line-height: 18px;
	font-weight: 100;
	background-color: rgb(16,26,49);
}
/*NAVBAR-BRAND*/
.navbar-brand{
	font-family: "Gill Sans Medium";
	letter-spacing: 5px;
}
/*NAVBAR-LINKS*/
#header li a{
	font-family: "baskerville old face";
	font-weight: bold;
	letter-spacing: 1px;
}
@media only screen and (min-width: 1030px) {
	.navbar-collapse .navbar-nav li { /*To make search,wishlist,profile and cart Icons responsive*/
		margin-left: 1rem; /*1rem=16px=(mx=3)*/
		margin-right: 1rem;
	}
}

/*JUMBOTRON SIDE BY SIDE IMAGES*/
#title #jumbo1{  /*setting background image*/
	background-image: url('young-woman-posing-at-carnival.jpg');
	width: 100%;
	background-size: cover;
	height: 800px;
	}

#title #jumbo2{  /*setting background image*/
	background-image: url('pexels-photo-1040880.jpeg');
	width: 100%;
	background-size: cover;
	height: 800px;
	background-size: 100% 100%;
	}
#title .jumbotron { 
	margin-bottom: 0; /*TO MAKE NEXT SHOP DIV TOUCH TO JUMBOTRONS*/
}
/*FOR SHOP WOMEN DIV*/
.Shop-Women{
	background-color:#ffb3b3;
	width: 51%;
	display: inline;
}
/*FOR SHOP MEN DIV*/
.Shop-Men{
	background-color: #d3d3d3;
	width: 49%;
	margin-left: 0;
    margin-right: 0;
    float: right;

}
/*HEADING OF SHOP DIVS*/
#title .Shop-Women h2{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
    font-family: 'Permanent Marker', cursive;
    font-size:55px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#title .Shop-Men h2{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
    font-family: 'Permanent Marker', cursive;
    font-size:55px;
	margin-top: 55px;
	margin-bottom: 30px;
}
/*LINKS BUTTON IN SHOP DIVS*/
#buttonDivWomen a {
width: 48%;
border-radius:0; 
padding-bottom: 10px;
padding-top: 10px;
margin-bottom: 10px;
margin-top: 10px;
color: #fff;
font-size: 15px;
border: 1px solid #fff; /*border: width style color;*/
}

#buttonDivWomen a:hover {
	background-color: #fff;
	font-weight: 2px;
	color: #000;
}
#buttonDivMen a {
width: 48%;
border-radius:0; 
padding-bottom: 10px;
padding-top: 10px;
margin-bottom: 10px;
margin-top: 10px;
color: #fff;
font-size: 15px;
border: 1px solid #fff; /*border: width style color;*/
}

#buttonDivMen a:hover {
	background-color: #fff;
	font-weight: 2px;
	color: #000;
}

/*NEW SECTION*/

#new img {
	background-size: cover;
	width: 100%;
}

#new div {  /*To make below div position absolute we need to make all parents divs relative*/
	position: relative;
}
#new .text-block {
	position: absolute;
	right: 10%;
	top:  30%;
	text-align: center;
	letter-spacing: 0.2rem;
}
#new .text-block h3 {
	font-size: 4rem;
}	
#new .text-block .btn-outline-dark {
 background-color: #000;
 color: #fff;
}
#new .text-block .btn-outline-dark:hover {
	background-color: #fff;
	color: #000;
}
@media only screen and (max-width: 600px) {
	
	#new .text-block {
		right: 1%;

	}
	#new .text-block h3 {
		font-size: 18px;
    }
	#new .text-block p {
		font-size: 10px;
	
	}
	#new .text-block .btn {
		font-size: 12px;
	}
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #new .text-block {
		right: 1%;
	}
	#new .text-block h3 {
		font-size: 20px;
    }
    #new .text-block p {
		font-size: 12px;
	
	}
	#new .text-block .btn {
		font-size: 14px;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1050px) {
    #new .text-block {
		right: 1%;
	}
	#new .text-block h3 {
		font-size: 22px;
    }
    #new .text-block p {
		font-size: 14px;
	
	}
	#new .text-block .btn {
		font-size: 16px;
	}
}


/*SALE SECTION*/
#sale img {
	background-size: cover;
	width: 100%;
}


/*FEATURE SECTION*/
#features .customCol1,.customCol2,.customCol3 { /*FREE RETURN,CLICK & COLLECT And FREE DELIVERY*/
	border-right: 1px solid rgba(0, 0, 0, .2);
	text-align: center;
}
#features .customCol4 { /*E-VOUCHERS*/
	text-align: center;
}
@media only screen and (max-width: 991px) and (min-width: 577px) {
	#features .customCol2,.customCol4 {
		border-right: none
	}
	#features .customCol1,.customCol2 {
		border-bottom: 1px solid rgba(0, 0, 0, .2);
	}
	#features .customCol3 i{
		margin-top: 7%;
	}
	#features .customCol4 i{
		margin-top: 7%;
	}

}

#features i {
	/*color: rgba(0, 0, 0, 0.70);*/
}



 .row{
	padding:2% 2%;
}

#features h2 {
	font-family: "baskerville old face";
	letter-spacing: 1px;
	font-size: 30px;
	/*margin-top: 30px;*/
}

#features h6{
	font-family: "baskerville old face";
	letter-spacing: 1px;
	font-size: 15px;
	margin-bottom: 7%;

}
#features p{
	font-family: "Gill Sans Light";
	font-size: 13px;
	letter-spacing: 1px;
}
#features .row i{   /*To make font-awesome ions thinner*/
        -webkit-text-stroke: 3px white;
        padding-bottom: 10%;
}

#features .col-lg-3 {
     padding: 3%;
}

#features .btn-md{
	padding: 1% 8%;  /*To customize size of bootstap button....we can also use other css like font-size property*/
	font-size: 12px;
	font-family: "Gill Sans Light";
	background-color: white;
	border: 1px solid #000;
	border-radius: 0;
}

#features .btn-md:hover {
	border: 2px solid #000;
}

/*END OF FEATURES SECTION*/


/*ARTICLES SECTION*/
#articles{
	background-color: rgb(16,26,49);
	margin-top: 4%; 
	padding: 2%;
}
#articles h6{
	color:#fff;
	font-family: "baskerville old face";
	font-size: 12px;
}

#articles p{
   color: #fff;
   font-size: 14px;
   font-family: "Gill Sans Light";
}

#articles .nav-item a{
   color: #fff;
   font-size: 14px;
   font-weight: bold;
   font-family: "Gill Sans Light";
}

::placeholder{
text-align: center;
font-size: 14px;
font-family: "Gill Sans Light"; 

}

#articles .btn{
    
    color: #fff;
    font-family: "Gill Sans Medium";
	border-radius: 0px;
	padding: 10px 40px;
	background-color: rgb(16,26,49);
	margin-top: 7px;
}

#articles li a{
	font-family: "baskerville old face";
	font-weight: bold;
	letter-spacing: 1px;
}

#articles .men{
	margin-left: 4px;
	padding: 10px 50px;
}
@media only screen and (max-width: 991px){
	#articles div h6{
		margin-top: 12%;
	}
}

/*FOOTER SECTION*/
#copyright {
	float: left;
	margin-top: 10px;
}
#socialMedia {
	float: right;
}
#socialMedia span {
margin-top: 10px;
}
#socialMedia .nav-link {
  color: rgb(16,26,49);
}

#socialMedia .nav-link .fa-instagram:hover{
  color:  pink;
}

#socialMedia .nav-link .fa-twitter:hover{
  color: #0077B5;	
}

#socialMedia .nav-link .fa-facebook-f:hover{
  color: blue;
}
#socialMedia .nav-link .fa-youtube:hover{
  color: red;	
}